body {
    background-color:rgba(240, 240, 255, 0.205);
    color: black;
    overflow: hidden;
}

h1 {
    text-align: center;
}

.todo-wrapper {
    background: orange;
    padding: 2%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 7px rgb(83, 71, 71);
}

.todo-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(26, 22, 22);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.todo-item-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
}

.todo-item-selection label {
    font-weight: bold;
    margin-bottom: 10px;
}

.todo-item-selection input {
    padding: 10px;
    border: none;
    width: 200px;
}

.todo-item-selection input:focus {
    outline: none;
    border: 2px solid rgb(255, 0, 0)
}

.PrimaryBtn {
    background-color: rgba(0, 255, 242, 0.459);
    border: none;
    border-radius: 0px;
    margin-top: 25px;
    padding: 10px;
    width: 60px;
    cursor: pointer;
}

.PrimaryBtn:hover {
    background-color:rgba(59, 61, 61, 0.459)
}

.todo-btn {
    background-color: rgba(0, 255, 242, 0.459);
    border: none;
    border-radius: 0px;
    margin-top: 25px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
}

.active {
    background-color:rgba(4, 4, 5, 0.459)
}


.btn-area {
    margin-bottom: 15px;
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.item-selection {
    background-color: rgb(166, 247, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px gray;
}

.item-selection h3 {
    font-size: 25px;
    color:rgb(64, 70, 70);
    margin: 0;
}

.item-selection p {
    font-size: 14px;
    color:rgb(83, 71, 71);
    margin-top: 8px;   
}

.icon {
    font-size: 35px;
    cursor: pointer;
}

.Check-icon {
    font-size: 25px;
    margin-left: 10px;
    color:rgb(74, 92, 86)
}

.Check-icon:hover {
    color:rgb(74, 182, 182)
}

.margin {
    display: flex;
    margin-left: 500px;
    align-items: center;
}

.btn-2 {
    margin-top: 25px;
    margin-left: 600px;
}


@media (max-width: 500px) {
    .todo-item-selection input {
        padding: 10px;
        border: none;
        width: 150px;
    }

    .btn-2 {
        margin-top: 15px;
        margin-left: 200px;
    }

    .margin {
        display: flex;
        margin-left: 70px;
        align-items: center;
    }

}